figure {
    display: table;
    width: 1px; /* This can be any width, so long as it's narrower than any image */
}
img, figcaption {
    display: table-row;
}
#gucc{


}

#img_cap{

    word-wrap: break-word;
}